# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
#Not ignoring the build directory right now as we need to hist the page on github

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

