body{
    background-color: #333333;
    color: #eeeeee;
}
#wrapper{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
}
#leftPane{
    padding: 5% 2% 5% 2%;
    background-color: #373c3f;
    left:0;
    width: 20vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#rightPane{
    padding: 5% 2% 5% 2%;
    background-color: #61676b;
    left:0;
    width: 20vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.flexEnd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
} 
.flexEnd:hover,.flexRow:hover{
    outline: 2px solid whitesmoke;
}
.enclosedIMG{
    height: 1rem;
    width: 1rem;
}
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: flex-start;
}
.projects{
    outline: 1px solid silver;
}
.projects:hover{
    outline: 1px solid gold;
}